<div class="toast fade show" style="width: 100%; max-width: 100%;">
  <div class="toast-header">
    <strong class="mr-auto">&nbsp;</strong>
    <small>{{translate.getString('person-type-info-title')}}</small>
  </div>
  <div class="toast-body">
    <div class="row">
      <div class="col-sm-4">
        <p>
          <b>{{translate.getString('name')}}: </b>
          {{service.entity.name}}
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          <b>{{translate.getString('register-date-label')}}: </b>
          {{service.entity.registerDate | date: 'dd/MM/yyyy' }}
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          <b>{{translate.getString('last-chage-date-label')}}: </b>
          {{service.entity.lastChangeDate | date: 'dd/MM/yyyy' }}
        </p>
      </div>
    </div>
  </div>
</div>
