<ul class="social-media">
  <li class="facebook" *ngIf="facebook">
      <a target="_blank" href="{{facebook}}">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span class="fa fa-facebook" aria-hidden="true"></span>
      </a>
  </li>
  <li class="twiter" *ngIf="twitter">
      <a target="_blank" href="{{twitter}}">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span class="fa fa-twitter" aria-hidden="true"></span>
      </a>
  </li>
  <li class="linkedin" *ngIf="linkedin">
      <a target="_blank" href="{{linkedin}}">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span class="fa fa-linkedin" aria-hidden="true"></span>
      </a>
  </li>
  <li class="instagram" *ngIf="instagram">
      <a target="_blank" href="{{instagram}}">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span class="fa fa-instagram" aria-hidden="true"></span>
      </a>
  </li>
</ul>
