<section class="content-wrap" style="margin-left: 5px; margin-right: 10px; margin-top: 2px;  margin-bottom: 2px;">
  <div class="col-sm-12" [style]="'height: ' + (getHeight() - 194) + 'px;'">
    <div class="card card-primary card-tabs" style="height: 100%;">
      <div class="card-header p-0 pt-1" style="background-color: #3c8dbc;">
        <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
          <li *ngIf="!formVisible()" class="pt-2 px-3" style="padding-bottom: 11px;"><h3 class="card-title">{{translate?.getString('tab-title')}}</h3></li>
          <li class="nav-item" *ngIf="formVisible()">
            <a class="nav-link active" id="person-group-form-tab" data-toggle="pill" href="#person-group-form" role="tab" aria-controls="person-group-form" aria-selected="true">{{translate.getString('person-group-form-tab')}}</a>
          </li>
          <li class="nav-item" *ngIf="formVisible()">
            <a class="nav-link" id="person-group-form-permissions-tab" data-toggle="pill" href="#person-group-form-permissions" role="tab" aria-controls="person-group-form-permissions" aria-selected="true">{{translate.getString('person-group-form-permissions-tab')}}</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content" id="custom-tabs-two-tabContent">
          <div *ngIf="!formVisible()" class="tab-pane fade show active" id="person-group-view" role="tabpanel" aria-labelledby="person-tab">
            <app-person-group-view></app-person-group-view>
          </div>
          <div *ngIf="formVisible()" class="tab-pane fade show active" id="person-group-form" role="tabpanel" aria-labelledby="person-info-tab" >
            <app-person-group-form [translate]="translate" [service]="service" [formBuilder]="formBuilder" [formGroupRules]="formGroupRules"></app-person-group-form>
          </div>
          <div *ngIf="formVisible()" class="tab-pane fade show" id="person-group-form-permissions" role="tabpanel" aria-labelledby="person-info-tab" >
            <app-person-group-form-permission></app-person-group-form-permission>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-pannel-buttons [service]="service" (onInsert)="onInsert($event)" (onSearch)="onSearch($event)"></app-pannel-buttons>
</section>
