.ring
{
    border-radius: 50%;
    background: transparent;
    animation: loading 0.5s linear infinite;
}

.ring-small
{
    width: 30px;
    height: 30px;
    box-shadow: 0 1.5px 0 #262626;
}

.ring-medium
{
    width: 60px;
    height: 60px;
    box-shadow: 0 3px 0 #262626;
}

.ring-big
{
    width: 120px;
    height: 120px;
    box-shadow: 0 4px 0 #262626;
}

@keyframes loading
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
